.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    margin: 0 -10px;
}

.list .item {
    width: calc(50% - 20px);
    min-width: 296px;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
}