.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    margin: 0 -10px;
}

.list .item {
    width: calc(33% - 20px);
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

@media only screen and (max-width: 550px) {
    .list .item {
        width: calc(100% - 20px);
    }
}