.wrapper {
    height: 100%;
    padding: 30px;
    background-color: rgba(181, 181, 181, 0.3);
    color: #fff;
    border-radius: 4px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper:hover {
    cursor: pointer;
    box-shadow: 1px 1px 9px 5px rgb(255 255 255 / 50%);
}

.wrapper .box {
    backdrop-filter: blur(4px);
    border-radius: 4px;
    padding: 12px;
    height: 100%;
    position: relative;
}

.wrapper .cityName {
    margin: 0;
    font-size: 18px;
    line-height: 1;
    margin-bottom: 10px;
}

.wrapper .temperature {
    margin: 0 0 10px;
    font-size: 20px;
    line-height: 1;
    margin-bottom: 10px;
}

.wrapper .describe {
    margin: 0;
    font-size: 14px;
    line-height: 1;
}

.deleteIcon {
    display: block;
    padding: 16px;
    position: absolute;
    top: -26px;
    right: -26px;
    z-index: 1;
    background-image: url(../../../images/icons/delete-white.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px;
}


.deleteIcon:hover {
    background-image: url(../../../images/icons/delete-lightGray.svg);
}